NEXT_PUBLIC_API_BASE_URL=http://127.0.0.1:8080
NEXT_PUBLIC_API_KEY=change-me
NEXT_PUBLIC_AUTH_MODE=apiKey
NEXT_PUBLIC_UI_LANGUAGE=en
NEXT_PUBLIC_LOG_LEVEL=info
NEXT_PUBLIC_OIDC_ISSUER=
NEXT_PUBLIC_OIDC_CLIENT_ID=
NEXT_PUBLIC_OIDC_SCOPE=openid profile email
NEXT_PUBLIC_OIDC_AUDIENCE=
